.contacts {
    padding: 160px 0px;
    background-color: #FAFAFE;
    background-image: url(../img/common/round.png), url(../img/common/round-xl.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 783px, 367px;
    background-position: calc(100% - -146px) calc(0% - 518px), calc(0% + -270px) calc(0% + 169px);

    @include _768 {
        padding: 32px 0;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        color: $primary;
        text-align: center;
        .emphasized {
            color: $secondary;
        }
    }

    &__subtitle {
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin-top: 24px;
        color: $primary;
        max-width: 616px;
    }


    &__box {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 16px;
        margin-top: 64px;
        position: relative;

    }

    &__skin {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 44px;
            background: linear-gradient(360deg, #FAFAFE 0%, rgba(250, 250, 254, 0.00) 100%);
            @include _768 {
                display: none;
            }
        }
    }

    &__points {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        gap: 32px;
        padding-right: 16px;
        padding-left: 16px;
        max-height: 32vw;
        height: 100%;

        @include _992 {
            max-height: 488px;
        }

        @include _768 {
             max-height: fit-content;
             overflow: initial;
        }

        &::-webkit-scrollbar {
            background: $secondary;
            border-radius: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: $secondary;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 8px;
            background: $white;
        }

        #show_more_box {
            @include _768 {
                display: none;
            }
        }
        
        &-point {
            display: flex;
            padding: 24px;

            @include _768 {
                flex-direction: column;
                gap: 16px;
            }
            &-type {
                font-size: 18px;
                color: $secondary;
                font-weight: 500;
                padding-right: 24px;
                width: 150px;
                min-width: 150px;
            }

            &-data {
                border-left: 1px solid $secondary;
                padding-left: 24px; 
                display: flex;
                flex-direction: column;
                font-size: 16px;
                gap: 24px;
                @include _768 {
                    border-bottom: 1px solid $secondary;
                    gap: 8px;
                    padding-bottom: 16px;
                    border-left: none;
                    padding-left: 0; 
                }
                &-address {    
                    font-weight: 300;
                }

                &-phone {
                    font-weight: 500;
                }

                &-date {
                    font-weight: 300;
                    color: $secondary;
                    .emphasized {
                        color: $primary;
                    }
                }
            }
        }
    }

    &__btn-show-more {
        font-size: 16px;
        line-height: 24px;
        color: $secondary;
        position: relative;
        display: flex;
        margin: 0 auto;
        padding-right: 12px;
        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background: url('../img/contacts/alt-bottom.svg') no-repeat center center;
            background-size: contain;
            left: 100%;
        }
    }

    &__map {
        width: 760px;
        height: 600px;


        @include _992 {
            display: none;
        }
    }

}


.active-point {
    border-radius: 56px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);

    .contacts__points-point-type {
        display: flex;
        align-items: center;
    }

}