.about {
    background: url(../img/common/round-xl.png) no-repeat;
    background-position-y: bottom;
    background-position-x: calc(0% + 10%);
    background-size: 732px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;

  

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 105px;
        height: 48px;
        background: url('../img/about/frame.png');
    }

    @include _1279 {
        &:after {
            left: 40vw;
        }
    }

    @include _652 {
        &:after {
            display: none;
        }
    }

    @include _1279 {
        background: url(../img/common/round.png) no-repeat, url(../img/common/round.png) no-repeat;
        background-size: 362px, 362px;
        background-position: calc(100% - -189px) calc(100% - -110px), calc(0% + -270px) calc(0% + -25px);
    }



    &__box {
        display: flex;
        justify-content: center;
        padding-top: 89px;

        @include _1279 {
            padding: 0 100px;
            padding-top: 89px;
        }

        @include _652 {
            padding: 0;
            padding-top: 89px;
        }

        
    
    }

    &__img {
        width: 50%;
        object-fit: cover;
        max-width: 645px;
        @include _1279 {
            display: none;
        }
    }

    &__info {
        width: 50%;
        margin-bottom: 40px;
        @include _1279 {
            width: 100%;
        }
        &-subtitle {
            font-weight: 500;
            font-size: 16px;
            color: var(--uni-text-color-2);
            @include _652 {
                text-align: center;
            }
        }
        &-title {
            font-weight: 700;
            font-size: 32px;
            color: var(--uni-text-color);
            @include _652 {
                text-align: center;
            }
            .emphasized {
                color: var(--uni-text-color-2);
            }
            @include _652 {
                font-size: 24px;
            }
        }

        &-text {
            margin-top: 64px;
            margin-left: 40px;
            font-weight: 300;
            font-size: 16px;
            color: var(--uni-text-color);
            line-height: 24px;
            &-list {
                margin-top: 24px;
                li {
                    max-width: 467px;
                    line-height: 24px;
                    width: 100%;
                    position: relative;
                    margin-bottom: 16px; 
                    padding-left: 40px;
                    

                    @each $index, $icon in $icons {
                        &:nth-child(#{$index}) {
                            &::before {
                                content: '';
                                background: $icon;
                                background-size: contain;
                                width: 24px;
                                height: 24px;
                                left: 0;
                                position: absolute;
                            } 
                        }
                    }
                }
            }
            @include _1740 {
                margin-left: 0;
            }
            @include _652 {
                margin-top: 24px;
                font-size: 14px;
            }
        }

        &-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 188px;
            width: 100%;
            padding: 8px 8px 8px 16px;
            border-radius: 60px;
            background-color: #FFFFFF;
            color: var(--uni-text-color);
            font-size: 16px;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            margin-top: 64px;

            

            &-ico {
                width: 32px;
                height: 32px;
                padding: 5.33px;
                background: var(--uni-text-color-2);
                border-radius: 50%;
                z-index: 1;
            }
            @include _652 {
                max-width: 100%;
            }
            @include _652 {
                margin-top: 24px;
            }
        }
    }

}