
.service{
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    padding: 136px 172px 183px;
    position: relative;

    @include _1280 {
        padding: 136px 140px 40%;
    }
    
    @include _768 {
        padding: 30px 0 40%;
    }

    &__container{
        display: flex;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 45px;
        
        @include _768 {
            max-width: 488px;
            margin: 0 auto;
        }

        &-titles{
            &-subtitle{
                font-size: 16px;
                line-height: 150%;
                color: #004293;
            }
            &-title{
                font-size: 32px;
                line-height: 130%;
                font-weight: 700;
                color: #1C274C;
                span{
                    color: #004293;
                }
            }
        }

        &-text {
            max-width: 576px;
            width: 100%;
            color: $primary;
            margin-left: 35px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px 

            
        }

        @include _768 {
            &-text {
                margin-left: 0;
            }
        }

        &-buttons{
            display: flex;
            gap: 24px;
            align-items: center;

            @include _768 {
                flex-direction: column;
            }

            &-btn1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 219px;
                width: 100%;
                border-radius: 60px;
                padding: 8px 8px 8px 24px;
                font-weight: 400;
                font-size: 16px;
                text-align: left;
                height: fit-content;
                cursor: pointer;
                color: $primary;
                background-color: $white;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);

                @include _768 {
                    max-width: 100%;
                }

                &-ico {
                    width: 32px;
                    height: 32px;
                    padding: 5.33px;
                    background: #004293;
                    border-radius: 50%;
                    z-index: 1;
                }
            }
            &-btn2{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 150px;
                width: 100%;
                border-radius: 60px;
                padding: 16px 32px;
                font-weight: 400;
                font-size: 16px;
                text-align: left;
                height: fit-content;
                cursor: pointer;
                color: $primary;
                background-color: $white;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
                
                @include _768 {
                    max-width: 100%;
                    order: -1;
                }
            }
        }
    
    
    }
    

    &__img {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 1341px;
        
        @include _1440 {
            left: 62%;
        }

        @include _1280 {
            left: 6vw;
            width: 85%;
        }
    

        &-circle {
            width: 787px;
            left: 74%;
            position: absolute;
            bottom: -30%;
            transition: .8s;

            @include _1440 {
                left: 90%;
            }
            
            @include _1280 {
                bottom: -20%;
                left: 50%;
                transform: translate(-50%, 0);
                width: 45%;
            }

            @include _652 {
                width: 60%;
                bottom: -20%;
            }
        }
    }
    

    
}