
.service{
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    padding: 136px 172px 183px;
    position: relative;
    background: url("../img/service/field-service_bg.png") right 35px / 656px no-repeat;
    overflow: hidden;
    &__container{
        display: flex;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 45px;

        &-titles{
            &-subtitle{
                font-size: 16px;
                line-height: 150%;
                color: #004293;
            }
            &-title{
                font-size: 32px;
                line-height: 130%;
                font-weight: 700;
                color: #1C274C;
                span{
                    color: #004293;
                }
            }
        }

        &-text {
            max-width: 576px;
            width: 100%;
            color: $primary;
            margin-left: 35px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px 
        }
        &-buttons{
            display: flex;
            gap: 24px;
            align-items: center;
            &-btn1{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 219px;
                width: 100%;
                border-radius: 60px;
                padding: 8px 8px 8px 24px;
                font-weight: 400;
                font-size: 16px;
                text-align: left;
                height: fit-content;
                cursor: pointer;
                color: $primary;
                background-color: $white;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            }
            &-btn2{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 150px;
                width: 100%;
                border-radius: 60px;
                padding: 16px 32px;
                font-weight: 400;
                font-size: 16px;
                text-align: left;
                height: fit-content;
                cursor: pointer;
                color: $primary;
                background-color: $white;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            }
        }
    
    
    }
    

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        background: url('../img/service/car.png');
    }
    

    
}