*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
	font-family: 'Ubuntu';
	background: grey;
}

body {
	font-size: 1rem;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s;
	display: block;
}

input {
	outline: none;
}

img {
	max-width: 100%;
	width: 100%;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button {
	margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
	outline: none;
	border: none;
}

.container {
	@include container($padding: 10.75rem);
	@include _1740 {
		@include container($padding: 7.313rem);
	}
	@include _992 {
		@include container($padding: 12px);
	}
}

.hidden {
	display: none !important;
}
.link:hover {
	color: $secondary;
}