.main {
  padding: 72px 20px 150px;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #489DE8,  #6BC5F2, #FEFFFF);
  position: relative;
  overflow: hidden;
  
  @include _1280 {
    padding: 15px 0px 100px;
  }


  @include _992 {
    margin-top: 200px;
    padding: 72px 20px 48px;
  }
  .container {
    @include _480 {
      padding: 0;
    }
  }
  &__title {
    color: #004293;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 42px;
    font-weight: 700;
    line-height: 100%;
    
    @media(max-width: 1200px) {
      font-size: 32px;
    }

    @media(max-width: 768px) {
      font-size: 24px;
    }
  }

  &__text {
    height: fit-content;
    @media(max-width: 1200px) {
      font-size: 14px;
    }
  }

  &-btn {
    border-radius: 60px;
    background: $white;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    width: fit-content;
    padding: 8px 8px 8px 24px;
    color: $primary;

    &__ico {
      width: 32px;
      height: 32px;
      padding: 5.33px;
      background: #004293;
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__box {
    border-radius: 56px;
    background: #F8FBFF url('../img/main/main-circle-decore.png') ;
    background-image:url('../img/main/main-circle-decore.png'), url('../img/main/main-circle-decore.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right -104px bottom -143px,  left 70% top 59px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    padding: 102px 160px;
    overflow: hidden;
    position: relative;
    height: fit-content;

    @media(max-width: 1480px) {
      background-image:url('../img/main/main-circle-decore.png');
      background-position: right -104px bottom 50%;
    }

    @media(max-width: 1200px) {
      padding: 56px 120px;
    }

    @media(max-width: 768px) {
      border-radius: 24px;
      padding: 24px;
      background: #F8FBFF;
      overflow: unset;
    }

    &-counter {
      position: absolute;
      top: 0;
      left: 0;
      color: #69C0F1;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 400px;
      font-style: normal;
      font-weight: 400;
      line-height: 75%;
      opacity: 0.15;
      pointer-events: none;
      margin-top: 10px;

      &-second {
        color:#004293;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        display: none;

        @media(max-width: 768px) {
          display: block;
        }

        span {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 60px;
      max-width: 536px;

      @media(max-width: 1530px) {
        max-width: 440px;
      }

      @media(max-width: 1200px) {
        max-width: 360px;
        gap: 32px;
      }

    }

    &-pic {
      position: absolute;
      bottom: -10px;
      left: 55%;
      max-height: 520px;
      width: 605px;
      height: 100%;

      
      @media(max-width: 1400px) {
        max-height: 348px;
        width: 50%;
        left: 68%;
      }

      @media(max-width: 768px) {
        display: none;
      }

      &-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .swiper {

    @media(max-width: 768px) {
      padding: 0 8px;
    }

    &-slide {
      overflow: hidden;
    }

    &-nav {
      &-box {
        border-radius: 60px;
        background: rgba(255, 255, 255, 0.80);
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        left: 48px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        @media(max-width: 768px) {
          width: calc(100% + 20px);
          left: 0;
          background: unset;
          box-shadow: unset;
          padding: 0;
          justify-content: space-between;
          flex-direction: row;
          margin: 0 -10px;
        }
      }
    }

    &-pagination {
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: relative;
      transform: translate(0);
      top: unset;
      left: unset;
      right: unset;

      @media(max-width: 768px) {
        display: none;
      }

      &-bullet {
        opacity: 1;
        background: #0042934D;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          transition: .2s;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }

        &-active {
          background: #004293;

          &:before {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #0042934D;
          }
        }
      }
    }

    &-button-prev, &-button-next {
      position: relative;
      display: flex;
      left: unset;
      top: unset;
      right: unset;
      margin: unset;
      transform: rotate(90deg);
      width: 32px;
      height: 32px;
      padding: 5.33px;
      background: #004293;
      border-radius: 50%;
      
      @media(max-width: 768px) {
        transform: rotate(0deg);
      }


      &:after {
        color: white;
        font-size: 1.4em;
      }
    }

    &-button-prev {
      &:after {
        transform: translate(-1px, 0);
      }
      
    }

    &-button-next {
      &:after {
        transform: translate(2px, 0);
      }
    }
  }
}