.header {
    
    .active-burger {
        gap: 0;

        span:first-child {
            display: block;
            transform: rotate(45deg);
        }

        span {
            display: none;
        }

        span:last-child {
            display: block;
            transform: rotate(315deg);
            margin-top: -3px;
        }



    }

    &__box {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        color: $primary;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
        @include _1740 {
            grid-template-rows: repeat(2, 1fr);
        }

        @include _652 {
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }

    }

    &__burger {
        display: none;
        width: 56px;
        height: 56px;
        background-color: $secondary;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        gap: 10px;
        padding: 10px;
        margin-right: 48px;
        grid-area: 1 / 1 / 2 / 2;
        transition: 0.3s all;
        .line {
            width: 100%;
            height: 3.5px;
            background-color: $white;
            border-radius: 2px;
            transition: 0.3s all;
        }
        &:hover {
            background-color: $white;
            .line {
                background-color: $primary;
            }
        }

        @include _992 {
            display: flex;
        }
        @include _652 {
            margin-right: 0;
        }
    }

    &__brand {
        display: flex;
        width: fit-content;
        grid-area: 1 / 1 / 2 / 3;
        justify-content: center;
        align-items: center;
        gap: 48px;

        @include _1280 {
            grid-area: 1 / 2 / 2 / 3;
        }
        @include _652 {
            grid-area: 1 / 2 / 2 / 3;
        }
   

        

        &-phone {
            @include _992 {
                display: none;
            }
            position: relative;
            &::before {
                content: '';
                background-image: url('../img/phone.svg');
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: -25px;
                background-size: contain;
            }
        }
        &-logo {
            width: 127px;
            height: 102px;
            min-width: 76px;
            min-height: 61px;
        }
    }

    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        grid-area: 1 / 3 / 2 / 9;
        margin-right: 48px;

        @include _1740 {
            grid-area: 2 / 1 / 3 / 11;
            justify-content: space-between;
            text-align: center;
            gap: 16px;
            li {
                width: 100%;
                margin: 0 auto;
            }
            &-links {
                width: 100%;
                justify-content: space-between;

            }
        }

        @include _992 {
            display: none;
        }

        &-links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }

        &-link {
            position: relative;
            z-index: 10;  
            transition: 0.3s all;
            border-left: 1px solid $primary;
            padding-left: 24px;
            font-weight: 500;
                      
            a:not(.link) {
                text-wrap: nowrap;
                display: block;
                &:hover {
                    transform: translateY(-10px);
                }
            }

            &:first-of-type {
                border: none;
                margin-right: 16px;

                a:not(.link) {
                    &:hover {
                        &::after{
                            transform: rotate(180deg);
                        }
                        
                    }
                    &::after {
                        content: '';
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/header/alt-up.png');
                        background-size: contain;
                        position: absolute;
                        top: 3px;
                        margin-left: 10px;
                        
                    }
                }
            }
            
        }
    }


    &__contacts {
        &-btn {
            min-width: 271px;
            padding: 8px 8px 8px 24px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: $secondary;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            align-items: center;
            border-radius: 60px;
            color: #FFF;
            grid-area: 1 / 8 / 2 / 10;

            @include _1280 {
                grid-area: 1 / 8 / 2 / 9;
            }


            @include _652 {
                grid-area: 2 / 1 / 3 / 4;
                width: 100%;
                margin: 0;
            }

            &-text {
                display: flex;
                flex-direction: column;

                &-title {
                    font-size: 20px;
                }
    
                &-subtitle {
                    font-size: 14px;
                }
            }

            &-ico {
                width: 56px;
                height: 56px;
                background-color: $white;
                border-radius: 50%;
                padding: 9.33px;
            }
            
        }


 
    }

    &__cart-btn {
        width: 72px;
        padding: 20px;
        background-color: $secondary;
        border-radius: 50%;
        position: relative;
        grid-area: 1 / 10 / 2 / 11;
        cursor: pointer;
        justify-self: center;

        img {
            width: 30px;
            height: 30px;
        }

        &::after {
            content: '99';
            width: 36px;
            height: 36px;
            position: absolute;
            background-color: $white;
            opacity: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            border-radius: 50%;
        }

        @include _652 {
            grid-area: 1 / 3 / 2 / 4;
        }
    }


    .dropdown {
        display: none;
        position: absolute;
        left: -4vw;
        top: 18px;
        padding: 49px 20px 49px 32px;
        border-radius: 24px;
        background-color: $white;
        gap: 71px;

        &__tail {
            display: none;
            position: absolute;
            top: -16px;
            left: 120px;
        }

        &__main {
            display: flex;
            flex-direction: column;
            gap: 17px;
            font-size: 16px;
            border-right: 1px solid #FAFAFE;
            padding-right: 48px;
    
            &-link {
                width: 100%;
                border-bottom: 1px solid #FAFAFE;
                padding-bottom: 17px;
                position: relative;
                width: 224px;
                a {
                    display: block;
                    width: 100%;
    
                    &::after {
                        content: '';
                        position: absolute;
                        top: 10%;
                        right: 0;
                        width: 16px;
                        height: 16px;
                        background-image: url(../img/header/alt-right.png);
                        background-size: contain;
                        transition: 0.3s all;
                    }
    
                    &:hover::after {
                        transform: translateX(10px);
                    }
                }
            }

        }





        &__extra {
            display: none;
            flex-direction: column;
            gap: 24px;
            font-size: 16px;
            padding-right: 70px;
        }

        
    }
}
