.header {
    position: relative;
    z-index: 2;
    
    &__box {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        color: $primary;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
        @include _1740 {
            grid-template-rows: repeat(2, 1fr);
        }

        @include _652 {
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }

    }

    &__burger {
        display: none;
        width: 56px;
        height: 56px;
        background-color: $secondary;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        gap: 10px;
        padding: 10px;
        margin-right: 48px;
        grid-area: 1 / 1 / 2 / 2;
        .line {
            width: 100%;
            height: 3.5px;
            background-color: $white;
            border-radius: 2px;
        }
        @include _992 {
            display: flex;
        }
        @include _652 {
            margin-right: 0;
        }
    }

    &__brand {
        display: flex;
        width: fit-content;
        grid-area: 1 / 1 / 2 / 3;
        justify-content: center;
        align-items: center;
        gap: 48px;

        @include _1280 {
            grid-area: 1 / 2 / 2 / 3;
        }
        @include _652 {
            grid-area: 1 / 2 / 2 / 3;
        }
   

        

        &-phone {
            @include _992 {
                display: none;
            }
            position: relative;
            &::before {
                content: '';
                background-image: url('../img/phone.svg');
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: -25px;
                background-size: contain;
            }
        }
        &-logo {
            width: 127px;
            height: 102px;
            min-width: 76px;
            min-height: 61px;
        }
    }

    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        grid-area: 1 / 3 / 2 / 9;
        margin-right: 48px;

        @include _1740 {
            grid-area: 2 / 1 / 3 / 11;
            justify-content: space-between;
            text-align: center;
            gap: 16px;
            li {
                width: 100%;
                margin: 0 auto;
            }
            &-links {
                width: 100%;
                justify-content: space-between;

            }
        }

        @include _992 {
            position: absolute;
            top: 0;
            left: 0;
            grid-area: unset;

        }

        &-links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            background: #FFF;
            width: 375px;
            min-height: 100vh;
            
            @include _992 {
                display: flex;
                padding: 159px 38px 38px;
                align-items: center;
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        &-link {
            
            &:first-of-type {
                border: none;
                position: relative;
                margin-right: 16px;
                
            
                
                a:not(.link) {
                    &:hover {
                        &::after{
                            transform: rotate(180deg);
                        }
                        
                    }
                    &::after {
                        content: '';
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/alt-bottom.svg');
                        background-size: contain;
                        position: absolute;
                        top: 3px;
                        margin-left: 10px;
                        
                    }
                }
            }
            transition: 0.3s all;
            border-left: 1px solid $primary;
            padding-left: 24px;
            font-weight: 500;

            a:not(.link) {
                text-wrap: nowrap;

                &:hover {
                    // transform: translateY(-10px);
                }
            }
        }
    }


    &__contacts {
        &-btn {
            max-width: 295px;
            padding: 8px 8px 8px 24px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: $secondary;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            align-items: center;
            border-radius: 60px;
            color: #FFF;
            margin-top: 23px;
            grid-area: 1 / 8 / 2 / 10;
            &-text {
                display: flex;
                flex-direction: column;

                &-title {
                    font-size: 20px;
                }
    
                &-subtitle {
                    font-size: 14px;
                }
            }
            @include _652 {
                grid-area: 2 / 1 / 3 / 4;
                width: 100%;
                margin: 0;
            }
        }


 
    }

    &__cart-btn {
        width: 72px;
        padding: 20px;
        background-color: $secondary;
        border-radius: 50%;
        position: relative;
        grid-area: 1 / 10 / 2 / 11;
        cursor: pointer;
        
        img {
            width: 30px;
            height: 30px;
        }

        &::after {
            content: '99';
            width: 36px;
            height: 36px;
            position: absolute;
            background-color: $white;
            opacity: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            border-radius: 50%;
        }

        @include _652 {
            grid-area: 1 / 3 / 2 / 4;
        }
    }
}


.dropdown {
    position: absolute;

    &-btn {
        position: relative;


        &-second {
            .dropdown-btn-text {
                padding: 17px 0;
                border-bottom: 1px solid #000;
                cursor: pointer;

                &:hover {
                    background: #0000002c;
                }
            }
        }
    }

    
    &-list {
        display: flex;
        flex-direction: column;
        width: 224px;
        
        &-first {
            position: absolute;
            top: 100%;
            left: -80px;
            display: flex;
            gap: 22px;
            padding: 48px 32px;
            border-radius: 24px;
            background: #fff;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            min-width: 648px;
            @include _992 {
                position: relative;
                padding: 0;
                max-height: 0px;
                overflow: hidden;
                flex-direction: column;
                gap: 16px;
                transition: .3s;
                box-shadow: unset;
                min-width: unset;
                background: unset;
                left: unset;
                top: unset;

                &.active {
                    max-height: 900px;
                }   
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-left: 48px;
            border-left: 1px solid #000;
        }

        .dropdown-list {
            display: none;

            @include _992 {
                display: flex;
                max-height: 0px;
                transition: .3s;
                overflow: hidden;
                flex-direction: column;
                gap: 16px;

                &.active {
                    max-height: 600px;

                }
            }
        }
    }

}