.header {

    @include _992 {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 14;
        width: 100%;
        background: #FFFFFF;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        color: var(--uni-text-color);
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
        @include _1740 {
            grid-template-rows: repeat(2, 1fr);
        }

        @include _992 {
            grid-template-rows: repeat(1, 1fr);
        }

        @include _652 {
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }

    }

    &__burger {
        display: none;
        width: 56px;
        height: 56px;
        background-color: var(--uni-text-color-2);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        gap: 10px;
        padding: 10px;
        margin-right: 48px;
        grid-area: 1 / 1 / 2 / 2;
        transition: 0.3s all;
        z-index: 12;

        .line {
            width: 100%;
            height: 3.5px;
            background-color: #FFFFFF;
            border-radius: 2px;
            transition: 0.3s all;
        }
        &:hover {
            background-color: #FFFFFF;
            .line {
                background-color: var(--uni-text-color);
            }
        }

        @include _992 {
            display: flex;
        }
        @include _652 {
            margin-right: 0;
        }

        @include _480 {
            width: 40px;
            height: 40px;
            padding: 9.46px;

            &:hover {
                background-color: var(--uni-text-color-2);
                .line {
                    background-color: #FFFFFF;
                }
            }
        }
    }

    &__brand {
        display: flex;
        width: fit-content;
        grid-area: 1 / 1 / 2 / 3;
        justify-content: center;
        align-items: center;
        gap: 48px;

        @include _1280 {
            grid-area: 1 / 2 / 2 / 3;
        }
        @include _652 {
            grid-area: 1 / 2 / 2 / 3;
        }
   

        

        &-phone {
            @include _992 {
                display: none;
            }
            position: relative;
            &::before {
                content: '';
                background-image: url('../img/header/phone.png');
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: -25px;
                background-size: contain;
            }
        }
        &-logo {
            width: 127px;
            height: 102px;
            min-width: 76px;
            min-height: 61px;
            z-index: 13;

            @include _480 {
                width: 76px;
                height: 61px;
            }
        }
    }

    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        grid-area: 1 / 3 / 2 / 9;
        margin-right: 48px;
        animation-duration: 0.3s;
        @include _1740 {
            grid-area: 2 / 1 / 3 / 11;
            justify-content: space-between;
            text-align: center;
            gap: 16px;
            li {
                width: 100%;
                margin: 0 auto;
            }
            &-links {
                width: 100%;
                justify-content: space-between;

            }
        }

        @include _992 {
            display: none;
            // overflow-y: auto;
            
            &__links {
                flex-direction: column;
            }
        }

        &-links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            
        }

        &-link {
            position: relative;
            z-index: 10;  
            transition: 0.3s all;
            border-left: 1px solid var(--uni-text-color);
            padding-left: 24px;
            font-weight: 500;

            @include _992 {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
                      
            a:not(.link) {
                text-wrap: nowrap;
                display: block;
                &:hover {
                    transform: translateY(-10px);
                    padding-bottom: 10px;
                }
            }
            
            @include _992 {
                a:not(.link) {
                    &:hover {
                        transform: none;
                        padding-bottom: 0;
                    }
                }
                
            }

            &.dropdown-btn {
                border: none;
                margin-right: 16px;
                
                a:not(.link) {
                    &:hover {
                        &::after{
                            transform: rotate(180deg);
                        }
                        
                    }
                    &::after {
                        content: '';
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/header/alt-up.png');
                        background-size: contain;
                        position: absolute;
                        top: 3px;
                        margin-left: 10px;
                        
                    }
                }

            }
            
        }
    }


    &__contacts {
        &-btn {
            min-width: 271px;
            padding: 8px 8px 8px 24px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: var(--uni-text-color-2);
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            align-items: center;
            border-radius: 60px;
            color: #FFFFFF;
            grid-area: 1 / 8 / 2 / 10;

            @include _1280 {
                grid-area: 1 / 8 / 2 / 9;
            }


            @include _652 {
                grid-area: 2 / 1 / 3 / 4;
                width: 100%;
                margin: 0;
                margin-top: 8px;
            }


            &-text {
                display: flex;
                flex-direction: column;

                &-title {
                    font-size: 20px;
                }
    
                &-subtitle {
                    font-size: 14px;
                }
            }

            &-ico {
                width: 56px;
                height: 56px;
                background-color: #FFFFFF;
                border-radius: 50%;
                padding: 9.33px;
            }
            
        }


 
    }

    &__cart-btn {
        width: 72px;
        padding: 20px;
        background-color: var(--uni-text-color-2);
        border-radius: 50%;
        position: relative;
        grid-area: 1 / 10 / 2 / 11;
        cursor: pointer;
        justify-self: center;
        z-index: 14;
        
        img {
            width: 30px;
            height: 30px;
        }

        &::after {
            content: '99';
            width: 36px;
            height: 36px;
            position: absolute;
            background-color: #FFFFFF;
            opacity: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            border-radius: 50%;
        }

        @include _652 {
            grid-area: 1 / 3 / 2 / 4;
        }

        @include _480 {
            width: 40px;
            height: 40px;
            padding: 6.46px;
            img {
                width: 20px;
                height: 20px;
            }

            &::after {
                top: -10px;
                right: -10px;
                width: 24px;
                height: 24px;
            }
        }
    }


//     .dropdown {
//         display: flex;
//         position: absolute;
//         left: -4vw;
//         top: 18px;
//         padding: 49px 20px 49px 32px;
//         border-radius: 24px;
//         background-color: #FFFFFF;
//         gap: 71px;
//         z-index: 99;

//         @include _992 {
//             position: relative;
//             padding: 0;
//             gap: 8px;
//             left: unset;
//             top: unset;
//             border-radius: unset;
//             display: none;
//             flex-direction: column;
//         }

//         &__tail {
//             display: none;
//             position: absolute;
//             top: -16px;
//             left: 120px;
//         }

//         &__main {
//             display: flex;
//             flex-direction: column;
//             gap: 17px;
//             font-size: 16px;
//             border-right: 1px solid #FAFAFE;
//             padding-right: 48px;
            

//             @include _992 {
//                 position: relative;
//                 padding: 0;
//                 padding-left: 12px;
//                 gap: 8px;
//                 flex-direction: column;
//             }
    
//             &-link {
//                 width: 100%;
//                 border-bottom: 1px solid #FAFAFE;
//                 padding-bottom: 17px;
//                 position: relative;
//                 width: 224px;
//                 a {
//                     display: block;
//                     width: 100%;
    
//                     &::after {
//                         content: '';
//                         position: absolute;
//                         top: 10%;
//                         right: 0;
//                         width: 16px;
//                         height: 16px;
//                         background-image: url(../img/header/alt-right.png);
//                         background-size: contain;
//                         transition: 0.3s all;
//                     }
    
//                     &:hover::after {
//                         transform: translateX(10px);
//                     }
//                 }
//             }

//         }





//         &__extra {
//             display: flex;
//             flex-direction: column;
//             gap: 24px;
//             font-size: 16px;
//             padding-right: 70px;

            
//             @include _992 {
//                 position: relative;
//                 padding: 0;
//                 padding-left: 32px;
//                 gap: 8px;
//                 margin-bottom: 10px;
//             }
//         }

        
//     }
// }




.dropdown {
    position: relative;
    border-left: none;


    &-btn {
        &-second {
            .dropdown-btn-text {
                padding: 17px 0;
                border-bottom: 1px solid #000;
                cursor: pointer;

                &:hover {
                    background: #0000002c;
                }
            }
        }
    }

    &-skin {
        display: none;
        position: absolute;
        top: 100%;
        left: -80px;
        gap: 22px;
        padding: 48px 32px;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
        min-width: fit-content;

        
        @include _992 {
            position: relative;
            display: none;
            flex-direction: column;
            left: unset;
            top: unset;
            gap: 16px;
            padding: 0;
            border-radius: 0;
            background: unset;
            box-shadow: unset;
            min-width: unset;
            width: 100%;
        }

        &-item {
            display: flex;
            flex-direction: column;
            width: 224px;
            padding-bottom: 17px;
            border-bottom: 1px solid #FAFAFE;

            .link {
                position: relative;
            
                &::after {
                    content: '';
                    position: absolute;
                    top: 10%;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    background-image: url(../img/header/alt-right.png);
                    background-size: contain;
                    transition: 0.3s all;
                }

                
                &:hover::after {
                    transform: translateX(10px);
                }

                &:hover::after {
                    @include _992 {
                        transform: unset;
                    }
                }

                
            }
     

            &-list {
                display: none;
                flex-direction: column;
                text-align: left;
                gap: 17px;
                border-right: 1px solid #FAFAFE;
                margin-left: 14px;

            }
        }

        &-first {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 17px;
            border-right: 1px solid #FAFAFE;

        }

        &-second {
            display: none;
            flex-direction: column;
            text-align: left;
            gap: 17px;
            border-right: 1px solid #FAFAFE;
            margin-left: 14px;
            
            @include _992 {
                display: none;
            }
        }
    }
    &-list {
        
        &-first {
            @include _992 {
                position: relative;
                padding: 0;
                max-height: 0px;
                overflow: hidden;
                flex-direction: column;
                gap: 16px;
                transition: .3s;
                box-shadow: unset;
                min-width: unset;
                background: unset;
                left: unset;
                top: unset;

                &.active {
                    max-height: 900px;
                }   
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-left: 48px;
            border-left: 1px solid #000;
        }

        .dropdown-list {
            display: none;

            @include _992 {
                display: flex;
                max-height: 0px;
                transition: .3s;
                overflow: hidden;
                flex-direction: column;
                gap: 16px;

                &.active {
                    max-height: 600px;

                }
            }
        }
    }
}
}







// Mobile

.mobile-navbar {
    display: flex;
    background: #FFFFFF;
    transition: left 0.3s all ease 0s;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 11;
    text-align: left;
    margin: 0;
 
    @include _652 {
        width: 100%;
    }
    .dropdown__main-link {
        margin: 0;
        padding-left: 16px;
        .link {
            &:after {
                top: 8% !important;
            }
        }
    }

    .header__navbar-links {
        flex-direction: column;
        font-size: 18px;
        gap: 0;
        width: 100%;
        padding: 0 40px;
        margin-bottom: auto;
        margin-top: 40%;
        max-height: 100%;
        overflow-y: auto;

        .header__navbar-link {
            width: 100%;
            margin: 0 auto;
            border-left: none;
            border-bottom: 1px solid var(--uni-text-color-2);
            padding: 17px 0;
            width: 100%;


            a:hover {
                transform: none;
            }
            a {
                &:first-of-type {
                    &::after {
                        top: 21px;
                    }
                }
                .link {
                    &::after {
                        top: 10%;
                    }
                }
            }
            
            
        }
    }
}

.active-burger {
    span:first-child {
        display: block;
        transform: rotate(45deg);
    }

    span {
        display: none;
    }

    span:last-child {
        display: block;
        transform: rotate(315deg);
        margin-top: -13px;
    }
}