.footer {
    background: $white;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15); 

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: $white;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 109px 56px;
        
        @include _768 {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include _1280 {
            margin: 0 auto;
        }

        @include _768 {
            width: 100%;
            align-items: center;
        }

        &-phone {
            color: $secondary;
            font-weight: 500;
            font-size: 24px;
            letter-spacing: 2px;
        }

        &-subtext {
            width: 100%;
            font-size: 16px;
            font-weight: 300;

            @include _768 {
                width: fit-content;
            }
        }

        &-btn {
            max-width: 295px;
            padding: 8px 8px 8px 24px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: $secondary;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            align-items: center;
            border-radius: 60px;
            color: #FFF;
            margin-top: 23px;
            gap: 47px;

            @include _768 {
                max-width: 100%;
            }

            &-text {
                display: flex;
                flex-direction: column;

                &-title {
                    font-size: 20px;
                }
    
                &-subtitle {
                    font-size: 14px;
                }
            }

            &-ico {
                width: 40px;
                height: 40px;
                background-color: $white;
                border-radius: 50%;
                padding: 6.67px;
            }

            
        }
    }

    &__links {
        display: flex;
        gap: 77px;

        @include _1280 {
            margin-left: auto;
        }

        @include _768 {
            flex-direction: column;
            gap: 16px;
            margin: unset;
        }

        a {
            width: fit-content;
            color: #1C274C;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 18px;
            font-weight: 500;
            line-height: normal;

            &:hover {
                opacity: .7;
            }
        }

        &-first, &-second {
            width: 160px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-first {
            @include _768 {
                gap: 0;
            }
        }
    }

    &-droplist {
        width: fit-content;
        color: #1C274C;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        display: flex;
        align-items: center;

        @include _768 {
            &.active {
                color: #004293;
            }
        }

        &:hover {
            opacity: .7;
        }

        svg {
            margin-left: 8px;
            display: none;

            @include _768 {
                display: block;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            @include _768 {
                margin-top: 0px;
                overflow: hidden;
                max-height: 0px;
                transition: .3s;
                width: 140px;
                transform: translate(-25%, 0);

                &.active {
                    margin-top: 16px;
                    max-height: 600px;
                }
            }

            a {
                font-size: 14px;
                font-weight: 400;
                
                @include _768 {
                    &.active {
                        color: #004293;
                    }
                }
            }
        }
    }
}