.footer {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15); 

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 109px 56px;
        
        @include _652 {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include _1279 {
            margin: 0 auto;
        }

        @include _652 {
            width: 100%;
            align-items: center;
        }

        &-phone {
            color: var(--uni-text-color-2);
            font-weight: 500;
            font-size: 24px;
            letter-spacing: 2px;
        }

        &-subtext {
            width: 100%;
            font-size: 16px;
            font-weight: 300;

            @include _652 {
                width: fit-content;
            }
        }

        &-btn {
            max-width: 295px;
            padding: 8px 8px 8px 24px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: var(--uni-text-color-2);
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
            align-items: center;
            border-radius: 60px;
            color: #FFF;
            margin-top: 23px;
            gap: 47px;

            @include _652 {
                max-width: 100%;
            }

            &-text {
                display: flex;
                flex-direction: column;

                color: #FFF;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 20px;
                font-weight: 400;
                line-height: 120%;
                font-style: normal;
                transition: .5s;
                span {
                    font-size: 14px;
                    line-height: normal;
                }
            }

            &-ico {
                width: 40px;
                height: 40px;
                background-color: #FFFFFF;
                border-radius: 50%;
                padding: 6.67px;

                
            }

            
        }
    }

    &__links {
        display: flex;
        gap: 77px;

        @include _1279 {
            margin-left: auto;
        }

        @include _652 {
            flex-direction: column;
            gap: 16px;
            margin: unset;
        }

        a {
            width: fit-content;
            color: var(--uni-text-color);
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 18px;
            font-weight: 500;
            line-height: normal;

            &:hover {
                opacity: .7;
            }
        }

        &-first, &-second {
            width: 160px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-first {
            @include _652 {
                gap: 0;
            }
        }
    }

    &-droplist {
        width: fit-content;
        color: var(--uni-text-color);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        display: flex;
        align-items: center;

        @include _652 {
            &.active {
                color: var(--uni-text-color-2);
            }
        }

        &:hover {
            opacity: .7;
        }

        svg {
            margin-left: 8px;
            display: none;

            @include _652 {
                display: block;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            @include _652 {
                margin-top: 0px;
                overflow: hidden;
                max-height: 0px;
                transition: .3s;
                width: 140px;
                transform: translate(-25%, 0);

                &.active {
                    margin-top: 16px;
                    max-height: 600px;
                }
            }

            a {
                font-size: 14px;
                font-weight: 400;
                
                @include _652 {
                    &.active {
                        color: var(--uni-text-color-2);
                    }
                }
            }
        }
    }
}